@keyframes scaleheader {
    0% {
        height: 100vh;
    }
    80% {
        height: 100vh;
    }
    100% {
        height: 18vw;
    }
}

@media screen and (min-width: 600px) {
    @keyframes scaleheader {
        0% {
            height: 100vh;
        }
        80% {
            height: 100vh;
        }
        100% {
            height: 9vw;
        }
    }
}

header {
    z-index: 11;
    position: fixed;
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: wheat;
    border-bottom: solid 0.6vw darkslategrey;
    animation: scaleheader 5s forwards;
}

@media screen and (min-width: 600px) {
    header {
        z-index: 7;
        border-bottom: solid 0.3vw darkslategrey;
    }
}

@keyframes scalelogo {
    0% {
        top: calc(50vh - 22.5vw);
        left: 5vw;
        width: 90vw;
    }
    80% {
        top: calc(50vh - 22.5vw);
        left: 5vw;
        width: 90vw;
    }
    100% {
        top: 2vw;
        left: 2vw;
        width: 28vw;
    }
}

@media screen and (min-width: 600px) {
    @keyframes scalelogo {
        0% {
            top: calc(50vh - 22.5vw);
            left: 5vw;
            width: 90vw;
        }
        80% {
            top: calc(50vh - 22.5vw);
            left: 5vw;
            width: 90vw;
        }
        100% {
            top: 1vw;
            left: 1vw;
            width: 14vw;
        }
    }
}

header img {
    position: fixed;
    top: calc(50vh - 22.5vw);
    left: 5vw;
    width: 90vw;
    animation: scalelogo 5s forwards;
}

.toggle {
    position: fixed;
    left: 90vw;
    top: 6vw;
    width: 7.2vw;
    height: 5.4vw;
    cursor: pointer;
}

@media screen and (min-width: 600px) {
    .toggle {
        display: none;
    }
}

@keyframes toggleslidein {
    0% {
        translate: 10vw 0;
    }
    90% {
        translate: -1vw 0;
    }
    100% {
        translate: 0 0;
    }
}

.toggle span {
    display: block;
    position: absolute;
    height: 0.6vw;
    width: 100%;
    background-color: darkslategrey;
    border-radius: 0.6vw;
    translate: 10vw 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}

.toggle span:nth-child(1) {
    top: 0;
    animation: toggleslidein 0.4s 5s forwards;
}

.toggle span:nth-child(2), .toggle span:nth-child(3) {
    top: 2.4vw;
    animation: toggleslidein 0.4s 5.2s forwards;
}

.toggle span:nth-child(4) {
    top: 4.8vw;
    animation: toggleslidein 0.4s 5.4s forwards;
}

.toggle.cross span:nth-child(1) {
    top: 2.4vw;
    width: 0%;
    left: 50%;
}

.toggle.cross span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.toggle.cross span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.toggle.cross span:nth-child(4) {
    top: 2.4vw;
    width: 0%;
    left: 50%;
}

.caret {
    position: fixed;
    left: 90vw;
    top: 4vw;
    width: 7.2vw;
    height: 5.4vw;
    cursor: pointer;
}

@media screen and (min-width: 600px) {
    .caret {
        left: 12vw;
        top: 2vw;
        width: 2.4vw;
        height: 1.8ww;
    }
}

.caret span {
    display: block;
    position: absolute;
    height: 0.6vw;
    width: 50%;
    background-color: darkslategrey;
    border-radius: 0.6vw;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}

@media screen and (min-width: 600px) {
    .caret span {
        height: 0.2vw;
        border-radius: 0.2vw;
    }
}

.caret.hovered span {
    background-color: wheat;
}

@media screen and (min-width: 600px) {
    .caret.hovered span {
        background-color: tan;
    }
}

.caret span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.caret span:nth-child(2) {
    left: 2vw;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

@media screen and (min-width: 600px) {
    .caret span:nth-child(2) {
        left: 0.7vw;
    }
}

.caret.turned span:nth-child(1) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.caret.turned span:nth-child(2) {
    left: 2vw;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

@media screen and (min-width: 600px) {
    .caret.turned span:nth-child(2) {
        left: 0.7vw;
    }
}

nav {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-size: 5.4vw;
    font-weight: 400;
    font-style: normal;
    white-space: nowrap;
}

@media screen and (min-width: 600px) {
    nav {
        font-size: 2.7vw;
    }
}

nav a {
    display: block;
    position: relative;
    text-align: center;
    border-bottom: solid 0.3vw darkslategrey;
}

@media screen and (min-width: 600px) {
    nav a {
        display: inline-block;
        text-align: left;
        position: absolute;
    }
}

.menu {
    top: 9.5vw;
    background-color: tan;
}

@media screen and (min-width: 600px) {
    .menu {
        top: 5.1vw;
        border-bottom: none;
        background-color: transparent;
    }
}

nav a:link {
    text-decoration: none;
    color: darkslategrey;
}

nav a:visited {
    color: black;
}

nav a.menu:hover {
    color: wheat;
}

@media screen and (min-width: 600px) {
    nav a.menu:hover {
        color: tan;
    }
}

@keyframes menuslidein {
    0% {
        translate: 0 0;
    }
    90% {
        translate: -61vw 0;
    }
    100% {
        translate: -60vw 0;
    }
}

.menu:nth-child(1) {
    z-index: 10;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

@media screen and (min-width: 600px) {
    .menu:nth-child(1) {
        z-index: 8;
        left: 100vw;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        animation: menuslidein 1s 5s forwards;
    }
}

.menu.open:nth-child(1) {
    -webkit-transform: translateY(8.35vw);
    -moz-transform: translateY(8.35vw);
    -o-transform: translateY(8.35vw);
    transform: translateY(8.35vw);
}

@media screen and (min-width: 600px) {
    .menu.open:nth-child(1) {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}

.menu:nth-child(2) {
    z-index: 9;
    -webkit-transform: translateY(-8.35vw);
    -moz-transform: translateY(-8.35vw);
    -o-transform: translateY(-8.35vw);
    transform: translateY(-8.35vw);
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

@media screen and (min-width: 600px) {
    .menu:nth-child(2) {
        z-index: 8;
        left: 114vw;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        animation: menuslidein 1s 5.4s forwards;
    }
}

.menu.open:nth-child(2) {
    -webkit-transform: translateY(8.35vw);
    -moz-transform: translateY(8.35vw);
    -o-transform: translateY(8.35vw);
    transform: translateY(8.35vw);
}

@media screen and (min-width: 600px) {
    .menu.open:nth-child(2) {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}

.menu:nth-child(3) {
    z-index: 2;
    -webkit-transform: translateY(-16.65vw);
    -moz-transform: translateY(-16.65vw);
    -o-transform: translateY(-16.65vw);
    transform: translateY(-16.65vw);
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
}

@media screen and (min-width: 600px) {
    .menu:nth-child(3) {
        z-index: 8;
        left: 134vw;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        animation: menuslidein 1s 5.8s forwards;
    }
}

.menu.open:nth-child(3) {
    -webkit-transform: translateY(8.35vw);
    -moz-transform: translateY(8.35vw);
    -o-transform: translateY(8.35vw);
    transform: translateY(8.35vw);
}

@media screen and (min-width: 600px) {
    .menu.open:nth-child(3) {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}

.menu:nth-child(4) {
    z-index: 1;
    -webkit-transform: translateY(-24.95vw);
    -moz-transform: translateY(-24.95vw);
    -o-transform: translateY(-24.95vw);
    transform: translateY(-24.95vw);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

@media screen and (min-width: 600px) {
    .menu:nth-child(4) {
        z-index: 8;
        left: 147vw;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        animation: menuslidein 1s 6.2s forwards;
    }
}

.menu.open:nth-child(4) {
    -webkit-transform: translateY(8.35vw);
    -moz-transform: translateY(8.35vw);
    -o-transform: translateY(8.35vw);
    transform: translateY(8.35vw);
}

@media screen and (min-width: 600px) {
    .menu.open:nth-child(4) {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}

.submenu {
    background-color: wheat;
    top: -6.95vw;
    display: none;
}

@media screen and (min-width: 600px) {
    .submenu {
        background-color: tan;
        border-bottom: solid 0.15vw darkslategrey;
        width: 40vw;
        padding-left: 2vw;
        top: 4.8vw;
        left: 52vw;
        display: block;
    }
}

.submenu:hover {
    color: tan;
}

@media screen and (min-width: 600px) {
    .submenu:hover {
        color: wheat;
    }
}

.submenu:nth-child(5) {
    z-index: 8;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

@media screen and (min-width: 600px) {
    .submenu:nth-child(5) {
        z-index: 6;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}

.submenu.open:nth-child(5) {
    -webkit-transform: translateY(8.35vw);
    -moz-transform: translateY(8.35vw);
    -o-transform: translateY(8.35vw);
    transform: translateY(8.35vw);
}

@media screen and (min-width: 600px) {
    .submenu.open:nth-child(5) {
        -webkit-transform: translateY(4.2vw);
        -moz-transform: translateY(4.2vw);
        -o-transform: translateY(4.2ww);
        transform: translateY(4.2vw);
    }
}

.submenu:nth-child(6) {
    z-index: 7;
    -webkit-transform: translateY(-8.35vw);
    -moz-transform: translateY(-8.35vw);
    -o-transform: translateY(-8.35vw);
    transform: translateY(-8.35vw);
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

@media screen and (min-width: 600px) {
    .submenu:nth-child(6) {
        z-index: 5;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}

.submenu.open:nth-child(6) {
    -webkit-transform: translateY(8.35vw);
    -moz-transform: translateY(8.35vw);
    -o-transform: translateY(8.35vw);
    transform: translateY(8.35vw);
}

@media screen and (min-width: 600px) {
    .submenu.open:nth-child(6) {
        -webkit-transform: translateY(8.35vw);
        -moz-transform: translateY(8.35vw);
        -o-transform: translateY(8.35vw);
        transform: translateY(8.35vw);
    }
}

.submenu:nth-child(7) {
    z-index: 6;
    -webkit-transform: translateY(-16.65vw);
    -moz-transform: translateY(-16.65vw);
    -o-transform: translateY(-16.65vw);
    transform: translateY(-16.65vw);
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
}

@media screen and (min-width: 600px) {
    .submenu:nth-child(7) {
        z-index: 4;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}

.submenu.open:nth-child(7) {
    -webkit-transform: translateY(8.35vw);
    -moz-transform: translateY(8.35vw);
    -o-transform: translateY(8.35vw);
    transform: translateY(8.35vw);
}

@media screen and (min-width: 600px) {
    .submenu.open:nth-child(7) {
        -webkit-transform: translateY(12.5vw);
        -moz-transform: translateY(12.5vw);
        -o-transform: translateY(12.5vw);
        transform: translateY(12.5vw);
    }
}

.submenu:nth-child(8) {
    z-index: 5;
    -webkit-transform: translateY(-24.95vw);
    -moz-transform: translateY(-24.95vw);
    -o-transform: translateY(-24.95vw);
    transform: translateY(-24.95vw);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

@media screen and (min-width: 600px) {
    .submenu:nth-child(8) {
        z-index: 3;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}

.submenu.open:nth-child(8) {
    -webkit-transform: translateY(8.35vw);
    -moz-transform: translateY(8.35vw);
    -o-transform: translateY(8.35vw);
    transform: translateY(8.35vw);
}

@media screen and (min-width: 600px) {
    .submenu.open:nth-child(8) {
        -webkit-transform: translateY(16.65vw);
        -moz-transform: translateY(16.65vw);
        -o-transform: translateY(16.65vw);
        transform: translateY(16.65vw);
    }
}

.submenu:nth-child(9) {
    z-index: 4;
    -webkit-transform: translateY(-33.25vw);
    -moz-transform: translateY(-33.25vw);
    -o-transform: translateY(-33.25vw);
    transform: translateY(-33.25vw);
    -webkit-transition: .6s ease-in-out;
    -moz-transition: .6s ease-in-out;
    -o-transition: .6s ease-in-out;
    transition: .6s ease-in-out;
}

@media screen and (min-width: 600px) {
    .submenu:nth-child(9) {
        z-index: 2;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}

.submenu.open:nth-child(9) {
    -webkit-transform: translateY(8.35vw);
    -moz-transform: translateY(8.35vw);
    -o-transform: translateY(8.35vw);
    transform: translateY(8.35vw);
}

@media screen and (min-width: 600px) {
    .submenu.open:nth-child(9) {
        -webkit-transform: translateY(20.8vw);
        -moz-transform: translateY(20.8vw);
        -o-transform: translateY(20.8vw);
        transform: translateY(20.8vw);
    }
}

.submenu:nth-child(10) {
    z-index: 3;
    -webkit-transform: translateY(-41.55vw);
    -moz-transform: translateY(-41.55vw);
    -o-transform: translateY(-41.55vw);
    transform: translateY(-41.55vw);
    -webkit-transition: .7s ease-in-out;
    -moz-transition: .7s ease-in-out;
    -o-transition: .7s ease-in-out;
    transition: .7s ease-in-out;
}

@media screen and (min-width: 600px) {
    .submenu:nth-child(10) {
        z-index: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}

.submenu.open:nth-child(10) {
    -webkit-transform: translateY(8.35vw);
    -moz-transform: translateY(8.35vw);
    -o-transform: translateY(8.35vw);
    transform: translateY(8.35vw);
}

@media screen and (min-width: 600px) {
    .submenu.open:nth-child(10) {
        -webkit-transform: translateY(24.95vw);
        -moz-transform: translateY(24.95vw);
        -o-transform: translateY(24.95vw);
        transform: translateY(24.95vw);
    }
}
